.p-page-hero
  display block
  margin 0 auto 30px

.p-about-section
  margin 0 20px 30px
  &__title
    position relative
    font-size 16px
    text-align center
    letter-spacing 2px
    margin 0 0 20px
    &:after
      content ''
      width 50px
      height 1px
      background white
      display block
      margin 10px auto 0
  &__text
    font-size 12px
    color gray
    line-height 18px

.p-about-section__step
  margin 0 0 30px 0
  &__text
    font-size 11px
    color gray
    line-height 18px
  &__image
    display block
    width 280px
    margin 0 auto 10px
  &__headline
    text-align center
    font-size 13px
    margin 0 0 5px 0
