.p-search-form
  margin 20px auto 30px
  &__input
    display block
    width 300px
    margin 0 auto
    border-radius 0
    height 40px
    font-size 14px
    letter-spacing 1.5px
    font-size 13px
    border-bottom 1px solid white
  &__button
    margin 30px auto 0
    padding 0 0 0 10px
    background blue url('../images/icon/search.svg') 55px center no-repeat
