.p-history-movie
  margin 20px
  &__title
    text-align center
    margin 0 0 20px 0

.p-history-list
  &__item
    display flex
    padding 10px 0 10px 0
    height auto
    align-items center
    border-bottom 1px solid rgba(255, 255, 255, 0.2)
    &:first-child
      padding 0 0 10px 0
    &--anchor
      display block
      width 14%
    &__image
      object-fit cover
      width 100%
      height auto
      margin 0 10px 0 0
      border-radius 2px
      box-shadow 0 0 10px rgba(0, 0, 0, 0.6)
    &__info
      width 86%
      margin 0 0 0 10px
      &__title
        font-size 13px
        overflow: hidden
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
      &__data
        font-size 11px
        color #a1a2a3
