// 画像エリア
.p-movie-backdrop
  width 100%
  height 260px
  margin 0 0 15px 0
  position relative
  &:before
    content ''
    position absolute
    bottom 0
    left 0
    width 100%
    height 140px
    background-image linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #1A1A1A 130%)
  &__image
    object-fit cover
    width 100%
    height 260px
  &__site-link
    position absolute
    bottom 15px
    right 15px
    z-index 1
  &__trailer-link
    position absolute
    bottom 15px
    right 75px
    z-index 1

// 詳細
.p-movie-info
  min-height 125px
  position relative
  &__image
    position absolute
    top -70px
    left 20px
    object-fit cover
    width 120px
    height 180px
    border-radius 2px
    box-shadow 0 0 10px rgba(0, 0, 0, 0.6)
  &__block
    margin 0 15px 0 155px
    &__title
      font-size 17px
    &__data
      margin 0 0 0 5px
      font-size 14px
      color #aaaaaa
    &__genre
      font-size 12px
      color #aaaaaa
      margin 0 0 8px 0
    &__rate
      width 60px
      height 20px
      color yellow
      font-size 11px
      line-height 20px
      border-radius 30px
      text-align center
      font-weight 700
      padding-left 14px
      background #1A1A1A url('../images/icon/star.svg') 12px center no-repeat

// 説明
.p-movie-overview
  margin 0 20px 20px 20px
  padding 0 0 20px 0
  border-bottom 1px solid rgba(255, 255, 255, 0.6)
  &__text
    font-size 12px

// 関連する作品
.p-movie-relation
  margin 0 20px 20px 20px
  padding 0 0 20px 0
  border-bottom 1px solid rgba(255, 255, 255, 0.6)

.p-movie-relation__list
  min-height 300px
  &__item
    &:nth-child(-n+3)
      margin 0 0 15px 0
    &__image
      object-fit cover
      width 100%
      border-radius 2px
      box-shadow 0 0 10px rgba(0, 0, 0, 0.6)

.p-movie-headline
  font-weight 700
  margin 0 0 4px 0

.p-movie-relation .p-movie-headline
  margin 0 0 10px 0

.is-addPush
  background green url('../images/icon/added.svg') 40px center no-repeat

.is-watchPush
  background-color red
