/* ==========================================================================
   Libraly - 外部からインストールしたライブラリ
   ========================================================================== */

  @import 'lib/mixin.styl'

/* ==========================================================================
   Foundation - プロジェクトの基本スタイル
   ========================================================================== */

   @import 'foundation/sanitize.styl'
   @import 'foundation/base.styl'

/* ==========================================================================
   Layout - プロジェクト共通のレイアウトパターン
   ========================================================================== */

  @import 'layout/header.styl'
  @import 'layout/main.styl'
  @import 'layout/nav.styl'
  @import 'layout/footer.styl'

  /* ==========================================================================
     Object - プロジェクト内で繰り返されるビジュアルパターン
    ========================================================================== */

  // -----------------------------------------------------------------
  // Component - 再利用できる単位のモジュールパターン
  // -----------------------------------------------------------------

    @import 'object/component/button.styl'
    @import 'object/component/grid.styl'
    @import 'object/component/badge.styl'
    @import 'object/component/form.styl'

  // -----------------------------------------------------------------
  // Project - プロジェクト固有のパターン
  // -----------------------------------------------------------------

    @import 'object/project/gallery.styl'
    @import 'object/project/inbox-list.styl'
    @import 'object/project/result-list.styl'
    @import 'object/project/work.styl'

  // -----------------------------------------------------------------
  // Utility - 上記で解決できないスタイル調整用のパターン
  // -----------------------------------------------------------------

  @import 'object/utility/shame.styl'
