extends layouts/_layout.jade

block append init
  - pageTitle = '視聴履歴 | MOVCHEX';
  - bodyClass = 'history';

block content
  .app#app
    header.l-header#header
      a(v-on:click='inbox' href='index.html').p-header-logo
        img.p-header-logo__image(src='images/icon/inbox.svg' alt='INBOX')
      h1.p-page-title
        | HISTORY
      a.c-nav-button#nav-button
        span.c-nav-button__line
        span.c-nav-button__line
      include layouts/_nav.jade
              
    .l-main#history-main
      .p-history-movie
        h2.p-history-movie__title(v-on:click='removeHistoryData')
          | 視聴履歴を削除する
        ul.p-history-list
          li.p-history-list__item(v-for='work in works' v-cloak transition='historyItem' stagger='100')
            a(v-bind:href='url + "?" + work.id').p-history-list__item--anchor
              img.p-history-list__item__image(v-if='work.image !== null' v-bind:src=" 'http://image.tmdb.org/t/p/w300' + work.image")
              img.p-history-list__item__image(v-else src='images/substitute.png' alt='画像はありません')
            .p-history-list__item__info
              h3.p-history-list__item__info__title
                | {{ work.title }}
              p.p-history-list__item__info__data
                | 視聴日 : {{ work.date }}
            
      include layouts/_footer.jade

            
        

      
      
