extends layouts/_layout.jade

block append init
  - pageTitle = 'MOVCHEX';
  - bodyClass = 'inbox';

block content
  .app#app
    .l-header#header
      a(v-on:click='inbox').p-header-logo
        img.p-header-logo__image(src='images/logo/head-logo_blue.png' alt='MOVCHEX' width='40')
      h1.p-page-title
        | INBOX
      a.c-nav-button#nav-button
        span.c-nav-button__line
        span.c-nav-button__line
      include layouts/_nav.jade
              
    .l-main#main
      //- .p-empty-message
      //-   img.p-empty-message__image(src='images/icon/popcorn.svg' alt='ポップコーン')
      //-   p.p-empty-message__text
      //-     | これから観る予定の映画を
      //-     br
      //-     | チェックしよう！
      ul.p-inbox-list#inbox-list
        li.p-inbox-list__item.p-inbox-movie
          img.p-check-button#checkButton(src='images/button/check-button.png' alt='チェック' width='40')
          img.p-inbox-movie__image#movieImage(src='images/sample01.png' alt='作品')
          .p-inbox-movie__info
            h2.p-inbox-movie__info__title#movieTitle
              | ファイディング・ニモ
            p.p-inbox-movie__info__sub
              | Added to :
              span.p-inbox-movie__info__sub--data#addedData
                | 2016.07.12
      
      img.p-add-button#add-button(v-on:click='search' src='images/button/add-button.png' alt='追加' width='50')
      
        
          
          
      
      
