extends layouts/_layout.jade

block append init
  - pageTitle = 'MOVCHEX';
  - bodyClass = 'inbox';

block content
  .app#app
    header.l-header#header
      a(v-on:click='inbox').p-header-logo
        img.p-header-logo__image(src='images/icon/inbox.svg' alt='INBOX')
      h1.p-page-title
        | INBOX
      a.c-nav-button#nav-button
        span.c-nav-button__line
        span.c-nav-button__line
      include layouts/_nav.jade
              
    .l-main#inbox-main
      .p-empty-message(v-html='text' v-cloak)

      ul.p-inbox-list#inbox-list
        li.p-inbox-list__item.p-inbox-movie(v-for='work in works' v-cloak)
          a(v-bind:href='url + "?" + work.id')
            img.p-check-button#checkButton(v-on:click='removeItem($index)' src='images/button/check-button.png' alt='チェック' width='40')
            img.p-inbox-movie__image#movie-image(v-if='work.backdrop_path !== null' v-bind:src=" 'http://image.tmdb.org/t/p/w500' + work.backdrop_path")
            img.p-inbox-movie__image#movie-image(v-else src='images/substitute.png' alt='画像はありません')
            .p-inbox-movie__info
              h2.p-inbox-movie__info__title#movie-title
                | {{ work.original_title }}
        
      img.p-add-button#add-button(v-on:click='search' src='images/button/add-button.png' alt='追加' width='50')
      
        
          
          
      
      
