extends layouts/_layout.jade

block append init
  - pageTitle = '人気映画 | MOVCHEX';
  - bodyClass = 'popular';

block content
  .app#app
    header.l-header#header
      a(v-on:click='inbox' href='index.html').p-header-logo
        img.p-header-logo__image(src='images/icon/inbox.svg' alt='INBOX')
      h1.p-page-title
        | POPULAR
      a.c-nav-button#nav-button
        span.c-nav-button__line
        span.c-nav-button__line
      include layouts/_nav.jade
              
    .l-main#popular-main
      .p-popular-movie
        h2.p-popular-movie__title
          | 人気の映画
        ul.p-popular-movie__list.c-three-grid
          li.p-popular-movie__list__item(v-for='work in works' v-cloak)
            a(v-bind:href='url + "?" + work.id').p-popular-movie__list__item--anchor
              img.p-popular-movie__list__item__image(v-bind:src=" 'http://image.tmdb.org/t/p/w300' + work.poster_path")
              h3.p-popular-movie__list__item__title
                | {{ work.original_title }}
        ul.p-popular-movie__page
          li.p-popular-movie__page__item.is-prev
            a.p-popular-movie__page__item--anchor(v-bind:href='prevLink' v-on:click='showPrev')
              | ← PREV
          li.p-popular-movie__page__item.is-next
            a.p-popular-movie__page__item--anchor(v-bind:href='nextLink' v-on:click='showNext')
              | NEXT →
          
      include layouts/_footer.jade

            
        

      
      
