extends layouts/_layout.jade

block append init
  - pageTitle = '映画を探す | MOVCHEX';
  - bodyClass = 'search';

block content
  .app#app
    header.l-header#header
      a(v-on:click='inbox' href='index.html').p-header-logo
        img.p-header-logo__image(src='images/icon/inbox.svg' alt='INBOX')
      h1.p-page-title
        | SEARCH
      a.c-nav-button#nav-button
        span.c-nav-button__line
        span.c-nav-button__line
      include layouts/_nav.jade
              
    .l-main#search-main
      form.p-search-form#search-form(name='search-form' method='GET' action='' onsubmit='return false;')
        input.p-search-form__input(v-model='keyword' v-on:enter='sendKeyword' type='search' placeholder='映画タイトルのキーワードで検索')
        button.c-button.p-search-form__button(v-on:click='sendKeyword' type='submit')
          | 検索
      
      .p-search-result
        h2.p-search-result__title(v-cloak)
          span.p-search-result__title__keyword
            | {{ keyword }}
        ul.p-result-list.c-two-grid
          li.p-result-list__item(v-for='work in works' transition='search-show' v-cloak)
            a(v-bind:href='url + "?" + work.id').p-result-list__item--anchor
              img.p-result-list__item__image(v-if='work.poster_path !== null' v-bind:src=" 'http://image.tmdb.org/t/p/w300' + work.poster_path")
              img.p-result-list__item__image(v-else src='images/substitute.png' alt='画像はありません')
              h3.p-result-list__item__title
                | {{ work.original_title }}
              p.p-result-list__item__info
                span.p-result-list__item__info__data
                  | ({{ work.release_date }})
                span.p-result-list__item__info__data
                  | | 評価 : {{ work.vote_average }}/10

      include layouts/_footer.jade

            
        

      
      
