extends layouts/_layout.jade

block append init
  - pageTitle = '映画を探す | MOVCHEX';
  - bodyClass = 'search';

block content
  .app#app
    header.l-header#header
      a(v-on:click='inbox' href='index.html').p-header-logo
        img.p-header-logo__image(src='images/logo/head-logo_blue.png' alt='MOVCHEX' width='40')
      h1.p-page-title
        | SEARCH
      a.c-nav-button#nav-button
        span.c-nav-button__line
        span.c-nav-button__line
      include layouts/_nav.jade
              
    .l-main#main
      form.p-search-form#search-form(name='search-form' method='GET' onsubmit='return false;')
        input.p-search-form__input#search-input(v-model='keyword' v-on:enter='sendKeyword' type='text' placeholder='映画タイトルのキーワードで検索')
        button.c-button.p-search-form__button#search-button(v-on:click='sendKeyword' type='submit')
          | 検索
      
      .p-search-result
        h2.p-search-result__title(v-cloak)
          span.p-search-result__title__keyword
            | {{ keyword }}
        ul.p-result-list.c-two-grid
          li.p-result-list__item(v-for='work in works' v-cloak)
            a(href='work.html').p-result-list__item--anchor
              img.p-result-list__item__image#movie-image(v-bind:src=" 'http://image.tmdb.org/t/p/w300' + work.poster_path")
              h3.p-result-list__item__title#movie-title
                | {{ work.title }}
              p.p-result-list__item__info
                span.p-result-list__item__info__data#movie-release
                | {{ work.release_date }}
                span.p-result-list__item__info__data#movie-genre
                  | ジャンル

      include layouts/_footer.jade

            
        

      
      
