extends layouts/_layout.jade

block append init
  - pageTitle = '映画を探す | MOVCHEX';
  - bodyClass = 'search';

block content
  .app#app
    header.l-header.common-header#header
      a(v-on:click='inbox').p-header-logo
        img.p-header-logo__image(src='images/logo/head-logo_blue.png' alt='MOVCHEX' width='40')
      h1.p-page-title
        | SEARCH
      a.c-nav-button#nav-button
        span.c-nav-button__line
        span.c-nav-button__line
      include layouts/_nav.jade
              
    .l-main#main
      form.p-search-form#search-form(name='search-form' method='GET')
        input.p-search-form__input#search-input(type='text' placeholder='映画タイトルのキーワードで検索')
        button.c-button.p-search-form__button#search-button(type='submit' name='action' value='send')
          | 検索
      
      .p-search-result
        h2.p-search-result__title
          span.p-search-result__title__keyword
            | 「ズートピア」
          | の検索結果
        ul.p-result-list.c-two-grid
          li.p-result-list__item.is-added
            a(v-on:click='work').p-result-list__item--anchor
              img.p-result-list__item__image#movie-image(src='images/sample02.png')
              h3.p-result-list__item__title#movie-title
                | Zootopia
              p.p-result-list__item__info
                span.p-result-list__item__info__data#movie-release
                | 2016
                span.p-result-list__item__info__data#movie-genre
                  | Animation, History
          li.p-result-list__item.is-watched
            a(v-on:click='work').p-result-list__item--anchor
              img.p-result-list__item__image#movie-image(src='images/sample02.png')
              h3.p-result-list__item__title#movie-title
                | ミッションインポッシブル
              p.p-result-list__item__info
                span.p-result-list__item__info__data#movie-release
                  | 2016
                | /
                span.p-result-list__item__info__data#movie-genre
                  | Animation, Adventure
          li.p-result-list__item
            a(v-on:click='work').p-result-list__item--anchor
              img.p-result-list__item__image#movie-image(src='images/sample02.png')
              h3.p-result-list__item__title#movie-title
                | Zootopia
              p.p-result-list__item__info
                span.p-result-list__item__info__data#movie-release
                  | 2016
                | /
                span.p-result-list__item__info__data#movie-genre
                  | Animation, Adventure
                
            
        

      
      
