extends layouts/_layout.jade

block append init
  - pageTitle = '作品詳細 | MOVCHEX';
  - bodyClass = 'work';

block content
  .loading-bg
  .app#app
    header.l-header.l-work-header#header
      a(v-on:click='backHistory').p-header-back
        img.p-header-back__image(src='images/icon/arrow.svg' alt='戻る')
      h1.p-page-title
        | WORK DETAILS
      a.c-nav-button#nav-button
        span.c-nav-button__line
        span.c-nav-button__line
      include layouts/_nav.jade
              
    .l-main#work-main
      .p-movie-detail(v-cloak)

        .p-movie-backdrop
          img.p-movie-backdrop__image(v-if='work.backdrop_path' v-bind:src=" 'http://image.tmdb.org/t/p/w500' + work.backdrop_path " transition='backdrop')
          img.p-movie-backdrop__image(v-else src='images/load/backdrop.png' )
            
          a(v-bind:href='work.homepage' target='_brank' v-if='work.homepage')
            img.p-movie-backdrop__site-link(src='images/button/link-button.png' alt='公式サイトへ飛ぶ' width='45')
              
          a(v-bind:href='youtubeUrl + "?v=" + trailerPair' target='_brank' v-if='trailerPair')
            img.p-movie-backdrop__trailer-link(src='images/button/play-button.png' alt='再生' width='45')

        .p-movie-info
          img.p-movie-info__image(v-if='work.poster_path' v-bind:src=" 'http://image.tmdb.org/t/p/w300' + work.poster_path" transition='poster')
          img.p-movie-info__image(v-else src='images/load/poster.png' data-adaptive-background)
          .p-movie-info__block
            h2.p-movie-info__block__title(v-show='work.original_title' transition='info')
              | {{ work.original_title }}
              span.p-movie-info__block__data
                | ({{ work.release_date }})
            p.p-movie-info__block__genre(v-show='work.genres' transition='info')
              | {{ work.genres }}
            p.p-movie-info__block__rate(v-show='work.vote_average' transition='info')
              | {{ work.vote_average }}

        .p-movie-overview
          h3.p-movie-headline
            | 作品内容
          p.p-movie-overview__text(v-show='work.overview' transition='overview')
            | {{ work.overview }}

        .p-movie-relation
          h3.p-movie-headline
            | おすすめの作品
          ul.p-movie-relation__list.c-three-grid
            li.p-movie-relation__list__item(v-for='work in popularWorks' v-cloak transition='relation' stagger='110')
              a(v-bind:href='url + "?" + work.id').p-movie-relation__list__item--anchor
                img.p-movie-relation__list__item__image(v-bind:src=" 'http://image.tmdb.org/t/p/w300' + work.poster_path")

      .p-push
        button.c-button.p-push__button(v-el:push-button v-on:click='addInbox' v-cloak)
          | {{ buttonText }}
          
      include layouts/_footer.jade
        
          
      
