extends layouts/_layout.jade

block append init
  - pageTitle = '作品詳細 | MOVCHEX';
  - bodyClass = 'work';

block content
  .app#app
    header.l-header.l-work-header#header
      a(v-on:click='backHistory').p-header-back
        img.p-header-back__image(src='images/icon/arrow.svg' alt='戻る')
      h1.p-page-title
        | WORK DETAIL
      a.c-nav-button#nav-button
        span.c-nav-button__line
        span.c-nav-button__line
      include layouts/_nav.jade
              
    .l-main#work-main
      .p-movie-detail(v-cloak)

        .p-movie-backdrop
          img.p-movie-backdrop__image(v-if='work.backdrop_path' v-bind:src=" 'http://image.tmdb.org/t/p/w500' + work.backdrop_path " )
          img.p-movie-backdrop__image(v-else src='images/load/backdrop.png' )
            
          a(v-bind:href='work.homepage' target='_brank')
            img.p-movie-backdrop__site-link(src='images/button/link-button.png' alt='公式サイトへ飛ぶ' width='50')

        .p-movie-info
          img.p-movie-info__image(v-if='work.poster_path' v-bind:src=" 'http://image.tmdb.org/t/p/w300' + work.poster_path")
          img.p-movie-info__image(v-else src='images/load/poster.png' data-adaptive-background)
          .p-movie-info__block
            h2.p-movie-info__block__title
              | {{ work.original_title }}
              span.p-movie-info__block__data
                | ({{ work.release_date }})
            p.p-movie-info__block__genre
              | {{ work.genres }}
            p.p-movie-info__block__rate
              | {{ work.vote_average }}

        .p-movie-overview
          h3.p-movie-headline
            | 作品内容
          p.p-movie-overview__text
            | {{ work.overview }}

        .p-movie-relation
          h3.p-movie-headline
            | 同じジャンルの人気作品
          ul.p-movie-relation__list.c-three-grid
            li.p-movie-relation__list__item
              a(href='#').p-movie-relation__list__item--anchor
                img.p-movie-relation__list__item__image(src='images/sample02.png' alt='映画のジャケット')

      .p-push
        button.c-button.p-push__button#push-button
          | INBOXに追加する
          
      include layouts/_footer.jade
        
          
      
