// index.html =====================================================

// エンプティメッセージ表示時のアニメーション
.p-empty-message__image
  animation float 1s ease infinite alternate
@keyframes float
  0%
    transform scale(0.85)
  100%
    transform scale(1)

// リストアイテムのアニメーション
.inboxItem-transition
  transition all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1)
  transform scale(1)
  will-change transform
.inboxItem-enter
  transform scale(0.8)
.inboxItem-leave
  transition all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1)
  opacity 0
  height 0

// search.html ======================================================

// 検索結果表示用のアニメーション
.search-show-transition
  transition all 1s cubic-bezier(0.075, 0.82, 0.165, 1)
  transform scale(1) rotate(0)

.search-show-enter
  opacity 0
  transform scale(0.6) rotate(-7deg)

.search-show-leave
  opacity 0

// popular.html ======================================================

// 人気映画表示用のアニメーション
.popularItem-transition
  transition all 1s cubic-bezier(0.075, 0.82, 0.165, 1)
  transform scale(1) rotate(0)

.popularItem-enter
  opacity 0
  transform scale(0.6) rotate(-7deg)

// history.html ======================================================

// 視聴履歴表示用のアニメーション
.historyItem-transition
  transition all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1)
  transform translateX(0)

.historyItem-enter
  opacity 0
  transform translateX(-100%)

.historyItem-leave
  transition all 1s cubic-bezier(0.075, 0.82, 0.165, 1)
  opacity 0

// work.html ======================================================

.loading-bg
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  z-index 5
  background-color #000

// 背景画像のアニメーション
.backdrop-transition
  transition all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s
  transform translateY(0)
.backdrop-enter
  transform translateY(-100%)

// 作品画像のアニメーション
.poster-transition
  transition all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s
  transform scale(1)
  opacity 1
.poster-enter
  opacity 0
  transform scale(0.5)

// 作品画像、ジャンル、評価のアニメーション
.info-transition
  transition all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s
  transform translateX(0)
  opacity 1
.info-enter
  opacity 0
  transform translateX(-15%)

// 作品内容のアニメーション
.overview-transition
  transition all .4s ease 1.8s
  transform translateX(0)
  opacity 1
.overview-enter
  opacity 0
  transform translateY(-10%)

// おすすめ作品のアニメーション
.relation-transition
  transition all .4s ease 2s
  transform translateX(0)
  opacity 1
.relation-enter
  opacity 0
  transform translateY(-10%)

// pushボタンのアニメーション
.push-anime
  width 50px
  font-size 0
  border-width 2px
  border-color white
  border-left-color green
  animation pushAnime 1s linear infinite

@keyframes pushAnime
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.validate
  transition all 200ms ease-in-out
  &:before
    content ''
    position absolute
    top 50%
    left 50%
    transform: translate(-50%, -50%)
    width 20px
    height 20px
    background url('../images/icon/added.svg') center /cover no-repeat
