// 検索結果表示用のアニメーション
.search-show-transition
  transition all 1s cubic-bezier(0.075, 0.82, 0.165, 1)
  transform scale(1)

.search-show-enter
  opacity 0
  transform scale(0.7)

.search-show-leave
  opacity 0
