// index.html =====================================================

// エンプティメッセージ表示時のアニメーション
.p-empty-message__image
  animation float 1s ease infinite alternate
@keyframes float
  0%
    transform scale(0.85)
  100%
    transform scale(1)

// リストアイテムのアニメーション
.inboxItem-transition
  transition all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1)
  transform scale(1)
  will-change transform
.inboxItem-enter
  transform scale(0.8)
.inboxItem-leave
  transition all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1)
  opacity 0
  height 0

// search.html ======================================================

// 検索結果表示用のアニメーション
.search-show-transition
  transition all 1s cubic-bezier(0.075, 0.82, 0.165, 1)
  transform scale(1)

.search-show-enter
  opacity 0
  transform scale(0.7)

.search-show-leave
  opacity 0

// work.html ======================================================

// 作品詳細背景画像のアニメーション
.backdrop-transition
  transition all 2s ease-in-out
  transform scale(1)
.backdrop-enter
  transform scale(1.1)

// 作品詳細ポスターのアニメーション
.poster-transition
  transition all 200ms ease
  transform scale(1)
.poster-enter
  transform scale(1.1)
