// inboxページの空メッセージ
.p-empty-message
  position absolute
  width 210px
  top 50%
  left 50%
  transform translate(-50%, -50%)
  text-align center
  &__image
    margin 0 0 30px 0

.splash-image
  position absolute
  z-index 20

.p-push
  position fixed
  bottom 0
  z-index 1
  padding 11px 0 0 0
  width 100%
  height 70px
  background rgba(0, 0, 0, 0.5)
