- var title = 'MOVCHEX'
- var author = 'sadakoa'
- var description = 'MOVCHEX is management for your movie life!'
- var keywords = 'movchex'
- var siteurl = 'movchex.com'
- var ogimage = 'movchex.com/image.png'
- var twsite = '@sadako_a_'
- var twcreator = '@sadako_a_'
