include _config

block init
  - var pageTitle = '';
  - var bodyClass = '';

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    meta(name='description', content='#{description}')
    meta(name='Keywords', content='#{keywords}')
      
    link(rel='apple-touch-icon' href='images/icon/home-icon.png')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='stylesheet/app.min.css')

    title #{title}

  body(class = bodyClass)
    block content
    
    script(src='js/jquery-3.1.0.min.js')
    script(src='js/vue.min.js')
    script(src='js/app.js')
