nav.p-header-nav#header-nav
  img.p-header-nav__logo(src='images/logo/nav-logo.png' width='150')
  ul.p-header-nav__list
    li.p-header-nav__list__item
      a.p-header-nav__list__item--anchor(href='#')
        span.p-header-nav__list__item__sub
          | これから観る映画
        | INBOX
    li.p-header-nav__list__item
      a.p-header-nav__list__item--anchor(href='#')
        span.p-header-nav__list__item__sub
          | 映画を探す
        | SEARCH
    li.p-header-nav__list__item
      a.p-header-nav__list__item--anchor(href='#')
        span.p-header-nav__list__item__sub
          | 人気の映画
        | POPULAR
    li.p-header-nav__list__item
      a.p-header-nav__list__item--anchor(href='#')
        span.p-header-nav__list__item__sub
          | 視聴済みの映画
        | HISTORY

  ul.p-header-nav__subList
    li.p-header-nav__subList__item
      a.p-header-nav__subList__item--anchor(href='#')
        | MOVCHEXとは
    li.p-header-nav__subList__item
      a.p-header-nav__subList__item--anchor(href='#')
        | 利用規約
    li.p-header-nav__subList__item
      a.p-header-nav__subList__item--anchor(href='#')
        | プライバシー
