nav.p-header-nav#header-nav
  img.p-header-nav__logo(v-on:click='inbox' src='images/logo/nav-logo.png' alt='MOVCHEX' width='150')
  ul.p-header-nav__list
    li.p-header-nav__list__item
      a.p-header-nav__list__item--anchor(v-on:click='inbox')
        span.p-header-nav__list__item__sub
          | 視聴予定の映画
        | INBOX
    li.p-header-nav__list__item
      a.p-header-nav__list__item--anchor(v-on:click='search')
        span.p-header-nav__list__item__sub
          | 映画を探す
        | SEARCH
    li.p-header-nav__list__item
      a.p-header-nav__list__item--anchor(v-on:click='popular')
        span.p-header-nav__list__item__sub
          | 人気の映画
        | POPULAR
    li.p-header-nav__list__item
      a.p-header-nav__list__item--anchor(v-on:click='history')
        span.p-header-nav__list__item__sub
          | 視聴履歴
        | HISTORY

  ul.p-header-nav__subList
    li.p-header-nav__subList__item
      a.p-header-nav__subList__item--anchor(href='about.html')
        | MOVCHEXとは
    li.p-header-nav__subList__item
      a.p-header-nav__subList__item--anchor(href='terms.html')
        | 利用規約
    li.p-header-nav__subList__item
      a.p-header-nav__subList__item--anchor(href='privacy.html')
        | プライバシー
