// ヘッダーのレイアウト
.l-header
  width 100%
  height 60px
  border-bottom 1px solid #646464
  position fixed
  z-index 2
  &:before
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 60px
    z-index -1
    background-image linear-gradient(-180deg, #000000 -20%, rgba(0,0,0,0) 120%)
  .p-header-logo
    position absolute
    top 18px
    left 18px
    display block
  .p-inbox-number
    position absolute
    top -8px
    left -2px
    background red
    width 15px
    height 15px
    border-radius 50%
    font-size 10px
    text-align center
  .p-header-back
    position absolute
    top 19px
    left 20px
  .p-page-title
    padding 20px 0 0 0
    text-align center
    font-size 14px
    letter-spacing 3px
    font-weight 300

.common-header
  border-bottom none
  &:before
    display none

.l-work-header
  border-bottom none
