// サイドナビのスタイル
.p-header-nav
  position absolute
  top 0
  right 0
  overflow hidden
  pointer-events none
  will-change none
  width 300px
  height 100vh
  padding 60px 20px 30px 20px
  transform translateX(100%)
  transition all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86)
  background url('../images/background/nav-bg.png') center /cover no-repeat

// サイドナビが開いた時のスタイル & アニメーション
.p-header-nav.open
  transform translateX(0%)
  will-change transform
  .p-header-nav__list__item
    will-change transform
    transform translateX(0%)
    opacity 1
    &:nth-of-type(1)
      transition-delay 0.15s
    &:nth-of-type(2)
      transition-delay 0.2s
    &:nth-of-type(3)
      transition-delay 0.25s
    &:nth-of-type(4)
      transition-delay 0.3s


// ナビのロゴ
.p-header-nav__logo
  display block
  margin 0 auto 30px

// ナビリスト
.p-header-nav__list
  border-top 1px solid #6FAFC2
  padding 30px 10px 0 10px
  &__item
    transition all 800ms cubic-bezier(0.000, 0.995, 0.990, 1.000)
    pointer-events none
    will-change none
    opacity 0
    font-size 20px
    letter-spacing 3px
    margin 0 0 25px 0
    transform translateX(25%)
    &__sub
      letter-spacing 0.7px
      font-size 10px
      display block
      margin 0 0 -6px 0
      color gray

// 著作権サイドナビ
.p-header-nav__subList
  position absolute
  width 78%
  bottom 30px
  left 50%
  transform translateX(-50%)
  font-size 10px
  display flex
  &__item
    margin 0 20px 0 0
    &:last-child
      margin 0 0 0 0
