.is-added
  &:before
    content ''
    position absolute
    top 0
    left 0
    width 60px
    height 60px
    background url('../images/background/add-badge.svg') no-repeat

.is-watched
  &:before
    content ''
    position absolute
    top 0
    left 0
    width 60px
    height 60px
    background url('../images/background/watch-badge.svg') no-repeat
