// 2カラム用のグリッド
.c-two-grid
  display flex
  flex-wrap wrap
  justify-content space-between
  li
    width 47%

// 3カラム用のグリッド
.c-three-grid
  display flex
  flex-wrap wrap
  justify-content space-between
  li
    width 30%
